<h1>Products</h1>

<h3>Product list</h3>
<div>
    <ul>
        <li *ngFor="let product of products$ | async">
            Id: {{ product.id }},
            Name: {{ product.name }},
            Description: {{ product.description }},
            Price: {{ product.price }}
            <button (click)="addProductToCart(product)">Add product to cart</button>
            <button (click)="removeProduct(product.id)">Remove product from list</button>
        </li>
    </ul>
</div>


<h3>Add new product</h3>
<form [formGroup]="productForm" (ngSubmit)="addnewProduct()">
    <div>
        <label>Name: </label>
        <input id="name" type="text" formControlName="name">
    </div>
    <div>
        <label>Description: </label>
        <input id="description" type="text" formControlName="description">
    </div>
    <div>
        <label>Price: </label>
        <input id="price" type="number" formControlName="price">
    </div>
    <button type="submit">Add new product</button>
</form>
