<h1>Cart</h1>

<h2>In Cart</h2>
<div>
    <ul>
        <li *ngFor="let cartItem of cart$ | async">
            Product: {{ cartItem.product.name }},
            Quantity: {{ cartItem.quantity }}
            <button (click)="removeProductFromCart(cartItem.product.id)">Remove product from cart</button>
        </li>
    </ul>
</div>

<h2>Product list</h2>
<div>
    <ul>
        <li *ngFor="let product of products$ | async">
            Id: {{ product.id }},
            Name: {{ product.name }},
            Description: {{ product.description }},
            Price: {{ product.price }}
            <button (click)="addProductToCart(product)">Add product to cart</button>
        </li>
    </ul>
</div>



